[submodule "java-testing-with-junit-revision-2021-2424511"]
	path = java-testing-with-junit-revision-2021-2424511
	url = https://github.com/LinkedInLearning/java-testing-with-junit-revision-2021-2424511
